body {

font-family: Arial;
margin: 0;

background: var(--bg);
color: var(--text);

}

:root {

--bg: white;
--text: black;
--card: #eee;

}

.dark {

--bg: #121212;
--text: white;
--card: #1e1e1e;

}

.navbar {

display: flex;
justify-content: space-between;
padding: 10px;
background: var(--card);

}

#gallery {

display: grid;
grid-template-columns: repeat(auto-fill, 200px);
gap: 20px;
padding: 20px;

}

.card {

background: var(--card);
padding: 10px;
border-radius: 10px;

}

.card img {

width: 100%;

}

.upload-box {

border: 2px dashed gray;
padding: 30px;
margin: 30px;

}
